doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="text/html", http-equiv="content-type")
        link(rel="stylesheet" href="/css/main.css")
        block head
    body
        block body
