extends head

block body
    table(border='0' cellpadding='0' cellspacing='0' width='800px' align="center" style="border-collapse:collapse;")
        tr
            td(align='center' valign='top' width='80px')
                include components/header/header-left
            td(align='center' valign='top' width='640px')
                include components/header/header-main
            td(align='center' valign='top' width='80px')
                include components/header/header-right
